.applewrap {
    width: 100%;
    display: block;
    height: 150px;
    margin-top: 20px;
}

.applewrap .teaser {
    float: left;
    box-sizing: border-box;
    width: 35%;
    height: 150px;
    padding: 5px 5px 5px 0px;
}

.applewrap .col {
    float: left;
    box-sizing: border-box;
    width: 65%;
    height: 150px;
    padding: 5px 5px 5px 5px;
    font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    color: #2c3e50;
}

.applewrap p { margin:2px 0; padding:0 0 2px 0; font:normal 14px/1.4em "Lucida Grande", "Helvetica Neue", Helvetica, sans-serif;}
.applewrap h3 { font:bold 15.5px Arial, Helvetica, sans-serif; color:#4f4f4f; padding:1px 0; margin-bottom:1px;margin-top: 0;}